<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd" >
<sqlMap namespace="board">

<typeAlias alias="BDto" type="com.ckk.tripPeeple.board.BoardDto"/>
	
	<sql id="column">
		BOARD_NUM, MEMBER_NUM, CITY_NUM, FILE_NAME, FILE_PATH, FILE_SIZE, FILE_TYPE, CONTENT, CREATE_TIME, MODIFY_TIME, LIKES
	</sql>

<insert id="boardInsert" parameterClass="BDto">
	<selectKey resultClass="java.lang.Integer" keyProperty="board_num">
		SELECT BOARD_NUM_SEQ.NEXTVAL AS BOARD_NUM FROM DUAL
	</selectKey>
	
	INSERT INTO BOARD(BOARD_NUM, MEMBER_NUM, CITY_NUM, CONTENT, CREATE_TIME, MODIFY_TIME, LIKES, FILE_NAME, FILE_PATH, FILE_SIZE, FILE_TYPE)
 	VALUES(#board_num#, #member_num#, #city_num#, #content#, SYSDATE, SYSDATE, #likes#, #file_name#, #file_path#, #file_size#, #file_type#)
</insert>
 
<select id="getBoardList" resultClass="BDto">

	SELECT BOARD_NUM, B.MEMBER_NUM AS MEMBER_NUM, B.CITY_NUM AS CITY_NUM,
	FILE_NAME, FILE_PATH, FILE_SIZE, FILE_TYPE, CONTENT, CREATE_TIME, MODIFY_TIME,
	LIKES, M.MEMBER_ID AS MEMBER_ID, CI.CITY_NAME AS CITY_NAME,
	CO.COUNTRY_NAME AS COUNTRY_NAME, CON.CONTINENT_NAME AS CONTINENT_NAME
	FROM BOARD B   
	JOIN MEMBER M ON B.MEMBER_NUM = M.MEMBER_NUM
	JOIN CITY CI ON CI.CITY_NUM = B.CITY_NUM
	JOIN COUNTRY CO ON CI.COUNTRY_NUM = CO.COUNTRY_NUM
	JOIN CONTINENT CON ON CO.CONTINENT_NUM = CON.CONTINENT_NUM
	ORDER BY MODIFY_TIME DESC
</select>

<delete id="deleteBoardList" parameterClass="java.lang.Integer">
	DELETE FROM BOARD WHERE BOARD_NUM=#board_num#
</delete>

<select id="boardUpdateRead" parameterClass="java.lang.Integer" resultClass="BDto">
	SELECT <include refid="column"/> FROM BOARD WHERE BOARD_NUM=#board_num#
</select>

<update id="boardUpdateBoard" parameterClass="BDto">
	UPDATE BOARD 
	SET CITY_NUM=#city_num#, CONTENT=#content#, MODIFY_TIME=SYSDATE, FILE_NAME = #file_name#, FILE_PATH = #file_path#, FILE_SIZE = #file_size#, FILE_TYPE = #file_type# 
	WHERE BOARD_NUM=#board_num# 
</update>

</sqlMap>