<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd" >
<sqlMap namespace="reply">

<typeAlias alias="RDto" type="com.ckk.tripPeeple.reply.ReplyDto"/>
	
	
	<sql id="column">
		REPLY_NUM, BOARD_NUM, MEMBER_NUM, R_CONTENT, CREATE_TIME, MODIFY_TIME
	</sql>
	
	<insert id="replyInsert" parameterClass="RDto">
		<selectKey resultClass="java.lang.Integer" keyProperty="reply_num">
			SELECT REPLY_NUM_SEQ.NEXTVAL AS REPLY_NUM FROM DUAL
		</selectKey>
			INSERT INTO REPLY (REPLY_NUM, BOARD_NUM, MEMBER_NUM, 
			R_CONTENT, CREATE_TIME, MODIFY_TIME) 
			VALUES(#reply_num#, #board_num#, #member_num#, 
			#r_content#, SYSDATE, SYSDATE)
	</insert>

	<select id="getReplyList" resultClass="RDto"  parameterClass="java.lang.Integer" >
	SELECT <include refid="column"/> FROM REPLY	
	WHERE BOARD_NUM=#board_num#
	ORDER BY MODIFY_TIME DESC
	</select>

</sqlMap>