<!DOCTYPE html>
<option value=""></option>
	<optgroup label="Argentina">
		<option value="11">Buenos Aires</option>
		<option value="12">Cordoba</option>
		<option value="13">Rosario</option>
    </optgroup>
    <optgroup label="Australia">
    	<option value="21">Brisbane</option>
    	<option value="22">Gold Coast</option>
    	<option value="23">Hobart</option>
    	<option value="24">Melbourne</option>
    	<option value="25">Sydney</option>    	
    </optgroup>
    <optgroup label="Austria">
    	<option value="31">Linz</option>
    	<option value="32">Salzburg</option>
    	<option value="33">Vienna</option>
    </optgroup>
    <optgroup label="Brazil">
    	<option value="41">Brasília</option>
    	<option value="42">Rio de Janeiro</option>
    	<option value="43">Salvador</option>
    	<option value="44">São Paulo</option>    	
    </optgroup>
    <optgroup label="Canada">
    	<option value="51">Ottawa</option>
    	<option value="52">Quebec City</option>
    	<option value="53">Toronto</option>
    	<option value="54">Vancouver</option>
    </optgroup>
    <optgroup label="China">
    	<option value="61">Beijing</option>
    	<option value="62">Chengdu</option>
    	<option value="63">Guangzhou</option>
    	<option value="64">Shanghai</option>
    	<option value="65">Tianjin</option>
    </optgroup>
    <optgroup label="France">
    	<option value="71">Lyon</option>
    	<option value="72">Marseille</option>
    	<option value="73">Nice</option>
    	<option value="74">Paris</option>
    </optgroup>
    <optgroup label="Ghana">
    	<option value="81">Accra</option>
    	<option value="82">Kumasi</option>
    	<option value="83">Tamale</option>
    </optgroup>
    <optgroup label="India">
    	<option value="91">Bangalore</option>
    	<option value="92">Delhi</option>
    	<option value="93">Mumbai</option>
    </optgroup>
    <optgroup label="Italy">
    	<option value="101">Milan</option>
    	<option value="102">Naples</option>
    	<option value="103">Rome</option>
    	<option value="104">Venice</option>
    </optgroup>
    <optgroup label="Japan">
    	<option value="111">Kyoto</option>
    	<option value="112">Okinawa</option>
    	<option value="113">Osaka</option>
    	<option value="114">Tokyo</option>
    </optgroup>
    <optgroup label="Kenya">
    	<option value="121">Kisumu</option>
    	<option value="122">Mombasa</option>
    	<option value="123">Nairobi</option>
    </optgroup>
    <optgroup label="Korea, Republic of">
    	<option value="131">Busan</option>
    	<option value="132">Changwon</option>
    	<option value="133">Gangneung</option>
    	<option value="134">Seoul</option>
    	<option value="135">Suwon</option>
    </optgroup>
    <optgroup label="Lao People&apos Democratic Republic">
    	<option value="141">Luang Prabang</option>
    	<option value="142">Vang Vieng</option>
    	<option value="143">Vientiane</option>
    </optgroup>
    <optgroup label="Philippines">
    	<option value="151">Bacolod</option>
    	<option value="152">Cebu</option>
    	<option value="153">Manila</option>
    </optgroup>
    <optgroup label="Spain">
    	<option value="161">Barcelona</option>
    	<option value="162">Madrid</option>
    	<option value="163">Seville</option>
    	<option value="164">Valencia</option>
    </optgroup>
    <optgroup label="Taiwan, Province of China">
    	<option value="171">Kaohsiung</option>
    	<option value="172">Taichung</option>
    	<option value="173">Taipei</option>
    </optgroup>
    <optgroup label="United Kingdom">
    	<option value="181">Bristol</option>
    	<option value="182">Leeds</option>
    	<option value="183">London</option>
    	<option value="184">Manchester</option>
    </optgroup>
    <optgroup label="United States">
    	<option value="191">Boston</option>
    	<option value="192">Chicago</option>
    	<option value="193">Los Angeles</option>
    	<option value="194">Miami</option>
    	<option value="195">New York City</option>
    	<option value="196">Philadelphia</option>
    </optgroup>
